// Colors
$primary-green: #2bcc71;
$primary-violet: #9127f3;
$primary-black: #2b2b2b;

$black: #010101;
$white: #ffffff;
$light-background: #ffffff;
$dark-background: #010101;
$light-border: #232323;
$card-color-1: #101010;

$dark-font: #000000;
$light-font: #d9d9d9;
$error-red: #dc4b4b;

$primary-font: "Poppins", sans-serif;

$max-width: 1440px;

// Font Sizes
$font-size-0: 0.625rem; //10px
$font-size-1: 0.75rem; // 12px
$font-size-2: 0.875rem; //14px
$font-size-3: 1rem; // 16px
$font-size-4: 1.125rem; //18px
$font-size-5: 1.25rem; // 20px
$font-size-6: 1.5rem; // 24px
$font-size-7: 1.625rem; //26px
$font-size-8: 1.75rem; // 28px
$font-size-9: 1.875rem; //30px
$font-size-10: 2rem; // 32px
$font-size-11: 2.25rem; //36px
$font-size-12: 2.5rem; //40px
$font-size-13: 2.625rem; //42px
$font-size-14: 3rem; //48px
$font-size-15: 3.5rem; //56px
$font-size-16: 4rem; //64px
$font-size-17: 4.5rem; //72px
$font-size-18: 5rem; //80px
$font-size-19: 5.5rem; //88px
$font-size-20: 6rem; //96px

// Screen Breakpoints
$desktop-xl: 1920px;
$desktop-l: 1440px;
$desktop-m: 1200px;
$desktop-s: 1024px;
$tablet-l: 992px;
$tablet-m: 768px;
$tablet-s: 640px;
$mobile-l: 576px;
$mobile-m: 480px;
$mobile-s: 320px;
