@use "@/styles/abstracts/variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: $light-font;
  background: $black;
  font-family: var(--font-bebas-neue);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
  border: none;
  background: none;
}

.maintenancePage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

//input autocomplete styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
